body{
background-color: rgb(24, 24, 54);
  background-size: cover;
  background-repeat: no-repeat;
}


.container a{
background-color: purple;
color: white;
margin-left: 15%;
}
.arrow h5{
  height: 5pxpx;
}
.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 7rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.select-container select {
  font-size: 1rem;
  
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 20px;
}

select{
  border: none;
}
.drop{
  justify-content: space-between;
}